# Laravel
backend-laravel/.env
backend-laravel/storage/*.key
backend-laravel/vendor/
backend-laravel/node_modules/
backend-laravel/public/storage
backend-laravel/public/build
backend-laravel/storage/framework/cache/data/*
backend-laravel/storage/framework/sessions/*
backend-laravel/storage/framework/testing/*
backend-laravel/storage/framework/views/*
backend-laravel/storage/logs/*

# OS Files
.DS_Store
Thumbs.db
*.local

# IDEs
.idea/
.vscode/
*.swp
*.bak
